// toggle
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
//
a {
  font-size: 33px;
  font-weight: bold;
  color: linear-gradient(180deg, #fa5252, #e12a72);
}
.navbar-brand {
  background: -webkit-linear-gradient(180deg, #fa5252, #e12a72);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 30px;
}
ul {
  list-style: none;
  padding-right: 30px;
}
@media (min-width: 991px) {
  .toggle {
    display: none;
  }
}
nav{
  position: relative;
  .menu{
    position: absolute;
    left: 0%;
    top: 83px;
    transition: all 0.4s ease-in-out;
    z-index: 999;
    display: block;
  }
}